<div class="jumbotron">
  <h1>Hello, World!</h1>
  <p>This is a template for a bootstrap rails website. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-default btn-large" href="http://bootswatch.com/" target="_blank">Learn more about themes custom &raquo;</a></p>
  <p><a href="http://blog.cloud-mes.com" target="_blank">Visit Author Blog</p>
</div>