<div class="hero-unit">
  <h1>Eric's rails app on <a href="http://www.cloudfoundry.com/">Cloud Foundry</a>!</h1>
  <p>This is a template for a bootstrap rails website. Use it as a starting point to create something more unique, the login/user profile funciton works</p>
  <p><a class="btn btn-primary btn-large" href="http://bootswatch.com/" target="_blank">Learn more about themes custom &raquo;</a></p>
  <p><a href="https://github.com/Eric-Guo/bootstrap-rails-startup-site" target="_blank">Fork this site in Github</a></p>
  <p><a href="http://blog.cloud-mes.com" target="_blank">Visit Author Blog</p>
</div>