<div class="hero-unit">
  <h1>Hello, World!</h1>
  <p>This is a template for a rails bootstrip website. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>