// Bootswatch.less
// Swatch: United
// Version: 2.0.3
// -----------------------------------------------------
@import "variables-united";

// TYPOGRAPHY
// -----------------------------------------------------
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("ubuntu400.woff");
  format: "woff";
}

// NAVBAR
// -----------------------------------------------------

.navbar {

	.nav > li > a {
		border-right: 1px solid #C03D14;
		border-left: 1px solid #E6633A;
	}

	.nav .active > a,
	.nav .active > a:hover {
	  background-color: rgba(0,0,0,.2);
	}

	.divider-vertical {
		border-right: 0px solid #CE4213;
	}

	.navbar-text {
		padding: 9px 10px 11px;
		line-height: 19px;
	}

	.navbar-search .search-query {
		border: 1px solid darken($navbar-default-bg, 15%);
	}

	.nav-pills > li > a {
		background-color: whitesmoke;
	}

	.navbar-collapse.in > .nav li > a {
		border-left: 0px solid $orange;
		border-right: 0px solid $orange;
	}

	.navbar-collapse.in .navbar-form,
	.navbar-collapse.in .navbar-search {
		border-top: 0px solid $orange;
		border-bottom: 0px solid $orange;
	}
}

// BUTTONS
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------


// MISC
// -----------------------------------------------------

.alert {
	text-shadow: none;
}

.jumbotron {
  border: 1px solid rgba(0,0,0,.05);

	h1 {
		line-height: 1.6em;
	}
}
