// United 3.2.0
// Bootswatch
// -----------------------------------------------------

// TYPOGRAPHY
// -----------------------------------------------------
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: font-url("ubuntu400.woff");
}

// Navbar =====================================================================

.navbar-default {

  .badge {
    background-color: #fff;
    color: #DD4814;
  }
}

.navbar-inverse {

  .badge {
    background-color: #fff;
    color: #772953;
  }
}

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================