// Cerulean 3.1.1
// Bootswatch
// -----------------------------------------------------

// Navbar =====================================================================

.navbar {
  filter: none;
}

.navbar-inverse {
  filter: none;
  border-bottom: 1px solid darken(#033C73, 10%);
}

// Buttons ====================================================================

.btn {

  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  .caret {
    border-top-color: #fff;
  }
}

.btn-default {

  &:hover {
    color: #555;
  }

  .caret {
    border-top-color: #fff;
  }
}

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================

.panel-primary,
.panel-success,
.panel-warning,
.panel-danger,
.panel-info {

  .panel-heading,
  .panel-title {
    color: #fff;
  }
}
