// Bootswatch.less
// Swatch: United
// United 3.0.2
// -----------------------------------------------------
@import "variables-united";

// TYPOGRAPHY
// -----------------------------------------------------
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("ubuntu400.woff");
  format: "woff";
}

// Navbar =====================================================================

// Buttons ====================================================================

// Typography =================================================================

// Tables =====================================================================

// Forms ======================================================================

// Navs =======================================================================

// Indicators =================================================================

// Progress bars ==============================================================

// Containers =================================================================